/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr
 *= require active_storage_drag_and_drop
 *= require_self
 */
// @import "bootstrap";
@import "datatables";
@import "font-awesome";
@import "adminlte";
@import "OverlayScrollbars.min";
@import "icheck-bootstrap.min";
@import "bs-stepper.min";

.profile-user-img {
  width: 150px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 50px;
  z-index: 1;
  top: 110px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #d2d6de;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "";
  font-family: "FontAwesome";
  color: #337AB7;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 34px;
  margin: auto;
}

// file-upload

.file-upload{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
}
label.asdndzone{
  max-width: 10000px !important;
  padding-top: 80px;
}
.asdndz__icon-container {
    text-align: center !important;
}